Django>=2.0,<3.0
psycopg2>=2.7,<3.0
mysqlclient
markdown
python-dotenv
apscheduler
django-filter
graphene-django
django-extensions
django-graphql-jwt
django-apscheduler
djangorestframework
django-cors-headers
django_mysql
gunicorn
numpy
pandas
django_mysql
sklearn
